<div class="columnmiddle">
    <div>
        <app-wallpaper></app-wallpaper>
    </div>
    <div style="border: 0.5px solid white; padding-left: 240px;" *ngFor="let test1 of test">
        <div *ngIf="test1.type=='1'">
        <app-postcard [test1]=test1></app-postcard>
        </div>
        <div *ngIf="test1.type=='2'">
            <app-postcard1 [test1]=test1></app-postcard1>
        </div>
    </div>
 <!--   <div style="border: 0.5px solid black; padding-left: 240px;">
        <app-postcard1></app-postcard1>
    </div>
   <div style="border: 0.5px solid black; height: 200px;">
        <p>Third Block</p>
    </div>
    <select>
        <option value="Wallpaper">Wallpaper</option>
        <option value="Postcard_with_tweet">Postcard with Tweet</option>
        <option value="Postcard_with_video">Postcard with Media</option>
        <option value="None">None</option>
      </select>-->
</div>
<!--<h1 style="text-align: center;">Middle of the Page</h1>-->